// ---- MIXINS -----
@mixin textColor { color: rgb(215, 215, 215); }
@mixin backColor($num) { background-color: rgb($num, $num, $num); }

// ----- NAV STYLES -----
.nav-margin-fix {
  margin-top: 75px;
}

#navfire {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  vertical-align: middle;
  margin-top: 12px;
  margin-right: 5px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFF;
  margin-top: 3px;
  margin-bottom: 0px;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #ff9547;
}

#forge {
  color: #FFF;
  margin-top: 5px;
}

#forge:hover {
  color: #ff9547;
}

.navbar-right~.navbar-right {
  margin-top: 12px;
  margin-botom: 0px;
  color: #FFF;
}

.navbar-right~.navbar-right:hover {
  color: #CDDC39;
}

.glyphicon-off {
  margin-top: 20px;
  color: #CDDC39;
}

@media (max-width: 768px) {
  .glyphicon-off {
    display: none;
  }
}

// ----- JUMBOTRON STYLES -----
.jumbotron{
  text-align: center;
  background: url('../images/long_road-amber.jpg') no-repeat center fixed;
  background-size: cover;
  margin-bottom: 20px;
  margin-top: 0px;
  min-height: 550px;
  h1, h2 {
    color: white;
    font-family: 'BenchNine', sans-serif;
  }
}

#splashFlame {
  height: 5%;
  width: 5%;
}

// ----- BODY STYLES -----
body {
  background-color: rgb(54, 63, 69);
}

h1, h2, h3, h4, p, label {
  @include textColor;
}

// ----- LANDING PAGE -----


#firstStep {
  text-align: center;
  h1 {
    color: white;
    font-family: 'BenchNine', sans-serif;
  }
  #landing-forge {
    color: #ff9547;
  }
}

.landing-body {
  margin-top: 3%;
}

.habitIcons {
  p{
    color: white;
    font-family: 'BenchNine', sans-serif;
    margin-top: 4%;
  }
}

.second {
  padding-left: 5%;
}

#new-you {
  margin-top: 10px;
  h1 {
    color: #8BC34A;
    font-family: 'BenchNine', sans-serif;
  }
}

#ball-rolling {
  margin-top: 100px;
}

.landing-body {
  p {
    text-align: center;
    font-size: 200%;
  }
}

.row {
  margin-top: 5%;
  margin-left: 15%;
  }

@media (max-width: 768px) {
  .second-img {
    margin-top: 5%;
  }
}

#landing-closing {
  color: white;
  font-family: 'BenchNine', sans-serif;
  margin-top: 5%;
}

// ---- MODAL STYLES -----
// ADD BOOTSTRAP COLUMNS TO THE MODAL STUFF TO ALIGN IT --> MUCH EASIER
#asideCheck {
  @include backColor(50);
  float: right;
  width: 45%;

  form {
    margin-top: 30px;
  }

  .form-control{
    max-width: 75%;
    margin: 0 auto;
  }

  #emailDiv, #pwDiv {
    padding-left: 10%;
  }

  #loginButtons {
    max-width: 65%;
    margin: 0 auto;
  }

  #emailLabel, #passwordLabel {
    margin: 0 12%;
  }
}

// ----- HABIT TRACKER PAGE -----

#my-habits {
  text-align: center;
  font-family: 'BenchNine', sans-serif;
  color: #8BC34A;
}

#notes {
  width: 300px;
  word-wrap: break-word;
}

.tracker-btn {
  background-color: #FF9800;
}

.table-hover {
  th {
    color: #FF9800;
    font-family: 'BenchNine', sans-serif;
    font-size: 125%;
  }
}

.tracker-tbody {
  td {
    color: #8BC34A;
    font-family: 'BenchNine', sans-serif;
  }
}

td.reasons {
  width: 300px;
  word-wrap: break-word;
}

#category {
  color: #00BCD4;
}

.create-link {
  color: #8BC34A;
  font-family: 'BenchNine', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// -----SHOW HABIT PAGE -----
#show-top {
  text-align: center;
}

#habit-name {
  color: #8BC34A;
}

.showhabit-title{
   color: #ff9547;
}

.pull-left {
  margin-left: 5%;
}

.pull-right {
  margin-right: 5%;
}

// ----- GRID -----
#percdone-h4 {
  text-align: center;
}

#percent-done {
  color: #00BCD4;
  font-size: 1.5em;
}

#grid-div{
  height: 300px;
  width: 100%;
  table {
    height: 300px;
    width: 350px;
    margin: 0 auto !important;
    float: none !important;
    border: 5px solid black;
    -webkit-box-shadow: 1px 2px 22px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 22px 9px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 22px 9px rgba(0,0,0,0.75);
  }
  .habit-marks-row {
    margin: 2px;
    td {
      height: 10%;
      width: 10%;
      background-color: #CFD8DC;
      margin: 2px;
      border: 1px dotted #727272;
      color: #0097A7;
      text-align: center;
      font-size: 150%;
      font-weight: bold;
      font-family: 'Nothing You Could Do', cursive;
      cursor: pointer;
      cursor: hand;
    }
  }
}

// ----- NEWHABITS FORM -----
.form-group {
  max-width: 75%;
  padding-left: 5%;
}

#addHabit {
  margin-left: 4%;
}

.control-label {
  color: #00BCD4;
}

// ----- STATS PAGE -----

#statsh1, #statsh3 {
  text-align: center;
  color: blue;
}

.stats {
  color: #00BCD4;
  font-size: 1.5em;
}

// ----- ADVICE AND RESOURCES PAGE -----
.advice {
  margin-left: 23%;
}

.a-and-r {
  color: #ff9547;
}

.advice-preamble {
  text-align: center;
}
