<div class="nav-margin-fix advice-preamble">
  <h4 class="col-xs-12 lead">According to research, the minimum number of days for a habit to "stick" is 60 days.</h4>
  <h4 class="col-xs-12 lead">This site is designed to help get you through that process.</h4>
</div>

<div class="advice">
  <h1 class="text-center col-xs-8 a-and-r">S.M.A.R.T. Goal Setting Tips</h1>

  <h3 class="text-center col-xs-8 a-and-r">Specific</h3>
  <p class="text-justify col-xs-8">Be as concrete as possible. An example of an unspecific task is "Be a good person". Better would be "Clean the house for 5 minutes".</p>

  <h3 class="text-center col-xs-8 a-and-r">Measurable</h3>
  <p class="text-justify col-xs-8">It is absolutely vital that you can answer the question "Am I done?". For instance, "Be a good person" is not measurable. A notch up, "Go for a run" is measurable, but you won't be driven to run a minimum amount. Examples of measurable goals are "Do all the dishes" or "Talk to my kids about their day for 10 minutes".</p>

  <h3 class="text-center col-xs-8 a-and-r">Attainable</h3>
  <p class="text-justify col-xs-8">Only pick a goal that you can realistically attain. A good example is "Do 10 push-ups". A bad example is "Meditate for two hours", unless you happen to have boatloads of spare time and motivation on your hands, in which case you probably don't need this website.</p>

  <h3 class="text-center col-xs-8 a-and-r">Relevant</h3>
  <p class="text-justify col-xs-8">It's easy to randomly pick a goal. However, you should prioritize the goals that matter the most. For instance, maybe you live in a really messy place where cleaning is a bigger short-term priority than exercise.</p>

  <h3 class="text-center col-xs-8 a-and-r">Timely</h3>
  <p class="text-justify col-xs-8">You need to be able to complete the task in a known timeframe, and you need to know how often you will do the task. Our framework provides a lot of help here, but it's also good to be specific with tasks, e.g. "Work out" vs "Work out for 15 minutes".</p>
</div>
