<h1 id="my-habits" class="nav-margin-fix">My Habits</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Habit Name</th>
      <th>Category</th>
      <th>Difficulty</th>
      <th>Reasons</th>
      <th>Notes</th>
      <th id="options">Options</th>
    </tr>
  </thead>
  <tbody class="tracker-tbody">
    <tr ng-repeat="(habitId, habit) in habitCtrl.habits">
      <td class="lead">{{habit.name}}</td>
      <td class="lead" id="category">{{habit.category}}</td>
      <td class="lead">{{habit.difficulty}}</td>
      <td class="lead reasons">{{habit.reasons}}</td>
      <td class="lead" id="notes">{{habit.notes}}</td>
      <td>
        <a class="tracker-btn btn btn-primary" href="/#/habits/{{habitId}}">Show More</a>
        <a class="tracker-btn btn btn-primary" href="/#/habits/{{habitId}}/edit">Edit</a>
        <button class="btn btn-danger" ng-click="habitCtrl.removeHabit(habitId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<h3 class="col-xs-12 text-center create-link btn btn-info"><a href="/#/newhabit"><span class="glyphicon glyphicon-fire"></span><br>CREATE A NEW HABIT</a><h3>
