<div class="jumbotron col-xs-12 nav-margin-fix">
  <div class="jumboContainer nav-margin-fix">
    <h1>START YOUR JOURNEY</h1>
    <h2>FORGE A BETTER YOU</h2>
  </div>
</div>

<div id="firstStep">
  <h1> TAKE YOUR FIRST STEP TODAY. <h1>
  <h1>FORGE...</h1>
</div>

<div class="landingBody">
  <div class="col-xs-3 habitIcons">
    <img id="fitness-icon" class="center-block" src="images/dumbbell3.svg" alt="Fitness Icon">
    <p class="lead text-center">A Stronger You</p>
  </div>
  <div class="col-xs-3 habitIcons">
    <img id="brain-icon" class="center-block" src="images/gear25.svg" alt="Brain Icon">
    <p class="lead text-center">Your Mental Abilities</p>
  </div>
  <div class="col-xs-3 habitIcons">
    <img id="skill-icon" class="center-block" src="images/archery1.svg" alt="Skill Icon">
    <p class="lead text-center">A New Skill</p>
  </div>
  <div class="col-xs-3 habitIcons">
    <img id="badhabit-icon" class="center-block" src="images/close16.svg" alt="BadHabit Icon">
    <p class="lead text-center">Out of a Bad Habit</p>
  </div>
</div>
