<div class="jumbotron col-xs-12 nav-margin-fix">
  <div class="jumboContainer nav-margin-fix">
    <h1>START YOUR JOURNEY</h1>
    <h2>FORGE A BETTER YOU</h2>
  </div>
</div>

<div id="firstStep">
  <h1> TAKE YOUR FIRST STEP TODAY. <h1>
  <h1 id="landing-forge">FORGE...</h1>
</div>

<div class="landing-body">
  <div class="col-xs-3 habitIcons">
    <p class="lead">A Stronger You</p>
  </div>
  <div class="col-xs-3 habitIcons">
    <p class="lead">Your Mental Abilities</p>
  </div>
  <div class="col-xs-3 habitIcons">
    <p class="lead">A New Skill</p>
  </div>
  <div class="col-xs-3 habitIcons">
    <p class="lead">Away a Bad Habit</p>
  </div>
</div>

<div class="col-xs-12" id="new-you">
  <h1 class="text-center">A New You</h1>
</div>

<div id="ball-rolling col-xs-8">
  <p class="text-center lead">To get you started, here are some ideas for habit stacks to help you get the ball rolling.</p>
</div>

<div id="landing-habit-stacks">
  <!-- first row -->
  <div class="row">
    <div class="col-sm-6">
      <div class="ih-item circle colored effect11 bottom_to_top"><a href="#">
        <div class="img"><img src="images/fitness.jpg" alt="img"></div>
        <div class="info">
          <h3>FITNESS</h3>
          <p>20 min morning workout <br> Step foot in a gym 1x/day <br> Stretch every night</p>
        </div></a></div>
      </div>

      <div class="col-sm-6">
        <div class="ih-item circle colored effect11 bottom_to_top"><a href="#">
          <div class="img second-img"><img src="images/mind.jpg" alt="img"></div>
          <div class="info">
            <h3>MIND</h3>
            <p>Meditate 20 min <br> Complete 1 puzzle/brainteaser <br> Read 15 pages of a book</p>
          </div></a></div>
        </div>
      </div>

      <!-- second row -->
      <div class="row">
        <div class="col-sm-6">
          <div class="ih-item circle colored effect11 bottom_to_top"><a href="#">
            <div class="img"><img src="images/health.jpg" alt="img"></div>
            <div class="info">
              <h3>HEALTH</h3>
              <p>1x healthy smoothie a day <br> Take multi-vitamin 1x a day <br> Sugar only 1 day a week</p>
            </div></a></div>
          </div>

          <div class="col-sm-6">
            <div class="ih-item circle colored effect11 bottom_to_top"><a href="#">
              <div class="img second-img"><img src="images/skill.jpg" alt="img"></div>
              <div class="info">
                <h3>SKILL</h3>
                <p>Practice skill 30 min/day <br> Read up on or learn about skill 30 min/day</p>
              </div></a></div>
            </div>
          </div>

          <!-- third row -->
          <div class="row">
            <div class="col-sm-6">
              <div class="ih-item circle colored effect11 bottom_to_top"><a href="#">
                <div class="img"><img src="images/general.jpg" alt="img"></div>
                <div class="info">
                  <h3>GENERAL</h3>
                  <p>No snooze button<br> Wake up before X every day<br> Do a kind act for a person you don't know</p>
                </div></a></div>
              </div>

              <div class="col-sm-6">
                <div class="ih-item circle colored effect11 bottom_to_top"><a href="#">
                  <div class="img second-img"><img src="images/badhabit.jpg" alt="img"></div>
                  <div class="info">
                    <h3>BAD HABIT</h3>
                    <p>Replace a bad food with a good<br>Replace smoking w/ e-cigs<br>Jog 20 min before the TV can be turned on</p>
                  </div></a></div>
                </div>
              </div>
</div>

<div id="landing-closing" class="col-xs-12">
  <h3 class="text-center">Login or Register Now to Get Started</h3>
</div>
