<div id="asideCheck" class="aside">
  <form name="loginForm" novalidate>
    <div class="form-group">
      <label id="emailLabel">Email Address</label>
      <input class="form-control" type="email" required>
    </div>
    <div class="form-group">
      <label id="passwordLabel">Password</label>
      <input class="form-control" type="password" required>
    </div>
    <div id="loginButtons">
      <input type="submit" class="btn btn-primary btn-block col-xs-6" value="Login" ng-class="{disabled: loginForm.$invalid}">
      <div class="btn btn-default btn-block col-xs-6" ng-class="{disabled: loginForm.$invalid}" ng-click="login.register()">Register</div>
      <div class="btn btn-warning btn-block col-xs-6" ng-class="{disabled: !login.email }" ng-click="login.forgotPassword()">Forgot Password</div>
    </div>
  </form>
</div>
