<div id="asideCheck" class="aside">
  <form name="loginForm" ng-submit="loginCtrl.login()" ng-controller="LoginController as loginCtrl" novalidate>
    <div class="form-group" id="emailDiv" ng-class="{'has-error': loginForm.$dirty && !loginCtrl.email}">
      <label id="emailLabel">Email Address</label>
      <input class="form-control" type="email" ng-model="loginCtrl.email" required>
    </div>
    <div class="form-group" id="pwDiv" ng-class="{'has-error': loginForm.$dirty && !loginCtrl.password}">
      <label id="passwordLabel">Password</label>
      <input class="form-control" type="password" ng-model="loginCtrl.password" required>
    </div>
    <div id="loginButtons">
      <input type="submit" class="btn btn-primary btn-block col-xs-6" value="Login" ng-class="{disabled: loginForm.$invalid}">
      <div class="btn btn-default btn-block col-xs-6" ng-class="{disabled: loginForm.$invalid}" ng-click="loginCtrl.register()">Register</div>
      <div class="btn btn-warning btn-block col-xs-6" ng-class="{disabled: !loginCtrl.email }" ng-click="loginCtrl.forgotPassword()">Forgot Password</div>
    </div>
  </form>
</div>
