<!-- Add habitCtrl.addHabit and habitCtrl.habit (habits array to push to I think)-->
<form name="newHabitForm" class="form-horizontal" ng-submit="habitCtrl.addHabit(habitForm, habitCtrl.habit)">
  <section class="row well live-preview">
    <aside class="col-xs-3">
      <a href="http://www.amazon.com/gp/product/{{reviewFormCtrl.book.isbn}}">
        <img ng-src="http://images.amazon.com/images/P/{{reviewFormCtrl.book.isbn}}.01.ZTZZZZZZ.jpg" class="full">
      </a>
      <p>{{habitCtrl.habit.difficulty || 'Medium Difficulty'}}</p>
    </aside>
    <div class="col-xs-9">
      <h3>
          {{habitCtrl.habit || "My New Habit"}}
      </h3>
      <cite class="text-muted">Written by {{reviewFormCtrl.book.author || "Author's Name"}}</cite>

      <p>{{habitCtrl.habit.notes || "No notes yet."}}</p>

      <ul class="list-unstyled">
        <li ng-repeat="(habit, category) in habitCtrl.habit.categories">
          <span class="label label-primary" ng-show="state">{{category}}</span>
        </li>
      </ul>
    </div>
  </section>
</form>
