<form name="newHabitForm" class="form-horizontal nav-margin-fix" ng-submit="newHabitForm.$valid && habitCtrl.addNewHabit()" novalidate>
  <div class="form-group" ng-class="{'has-error': !habitCtrl.newHabit.name}">
    <label class="control-label">Name</label>
    <input class="form-control" type="text" ng-model="habitCtrl.newHabit.name" placeholder="Enter name of habit" required>
  </div>
  <div class="form-group" ng-class="{'has-error': !habitCtrl.newHabit.reasons}">
    <label class="control-label">Reasons</label>
    <input class="form-control" type="text" ng-model="habitCtrl.newHabit.reasons" placeholder="What do you want to get out of this habit -- it's important to remember why you started" required>
  </div>
  <div class="form-group" ng-class="{'has-error': !habitCtrl.newHabit.notes}">
    <label class="control-label">Notes</label>
    <textarea class="form-control" rows="3" ng-model="habitCtrl.newHabit.notes" placeholder="Enter any notes you may need for this habit" required></textarea>
  </div>
  <div class="form-group">
    <label class="control-label">Category</label>
    <select ng-model="habitCtrl.newHabit.category" class="form-control">
      <option value="{{val}}" ng-repeat="(val, text) in habitCtrl.habitCategories" required>
        {{text}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label">Difficulty</label>
    <select ng-model="habitCtrl.newHabit.difficulty" class="form-control">
      <option value="{{val}}" ng-repeat="(val, text) in habitCtrl.difficultyOptions" required>
        {{text}}
      </option>
    </select>
  </div>
  <input type="submit" id="addHabit" class="btn btn-danger" value="Add Habit" ng-disabled="myForm.$invalid"/>
</form>
