<h1 id="statsh1" class="nav-margin-fix col-xs-12 text-center">Progress Statistics</h1>
<h3 id="statsh3" class="col-xs-12 text-center">COMING SOON!</h3>

<!--
<h3>YOU HAVE <span class="stats">{{habitCtrl.habits}}</span> CURRENT HABITS</h3>
<h3>COMBINING THE PROGRESS OF ALL YOUR CURRENT HABITS, YOU ARE <span class="stats">X%</span> OF THE WAY THERE TOWARDS MAKING THEM ALL PERMANENT!</h3>
<h3>YOU ARE FURTHEST ALONG ON <span class="stats">__X__</span> HABIT - IT IS <span class="stats">X%</span> COMPLETE</h3>
<h3>YOU HAVE THE FURTHEST TO GO ON <span class="stats">__X__</span> HABIT - IT IS <span class="stats">X%</span> COMPLETE</h3>
-->
